/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&family=Poppins:wght@500&family=Raleway:wght@700;800&display=swap');
/*
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
 */

/* landing sizes
    width(landing) = 1440 px;
    width(header__inner) = 1312 px;
*/

body {
	margin: 0;

	font-family: 'Plus Jakarta Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;

	box-sizing: border-box;

	/*данное свойство сглаживает шрифты*/
	-webkit-font-smoothing: antialiased;

	background-color: #1A1A1A;

}
h1,h2,h3,h4,h5,h6,p,td,tr {
	margin: 0;
	padding: 0;
}

/* ------------------- Header ------------------- */
.header {
    width: 100%;
    position: absolute;
    padding: 48px 0;
}

.header__inner { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

.header__inner__logo {
    margin-right: 224px;
}

.header__inner__nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 704px;

    font-weight: 500;
    font-size: 16px;
}
.nav__link {
    text-decoration: none;
    color: #8c8c8c;
    text-transform: uppercase;

    transition: color 0.1s linear;
}

.nav__link:hover {
    color: #fff;
}

.header__inner__register {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 152px;
    color: #8c8c8c;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    margin-right: 12px;
    position: relative;
}

.header__inner__register:hover{
    color: #fff;
}


/* ------------------- Intro ------------------- */
.intro {
    /* padding-top: 200px; */
    /* width: 100%; */

    padding: 200px 75px 0;
}
.intro__wrapper_title {
    z-index: 15;
}
.intro__title {
    z-index: 15;
    font-size: 120px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;

    background: linear-gradient(90deg, #FFFFFF 0.01%, rgba(255, 255, 255, 0.3) 49.48%, #FFFFFF 99.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro__title__span {
    z-index: 15;
    background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.intro__wrapper__buttons {
    display: flex;
    justify-content: space-between;
}

.intro__wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.btn__wrapper {
    width: 458px;
    display: flex;
    justify-content: space-between;
}
.border__wrapper__btn {
    /* height: 158px;
    width: 230px; */
    position: relative;
    padding: 1px;

    border-radius: 32px;
    border: none;
}

.border__wrapper__btn.left {
    height: 158px;
    width: 200px;
    background: linear-gradient(-90deg, #484848 0%, #1A1A1A 100%);
}
.border__wrapper__btn.right {
    width: 233px;
    height: 160px;
    background: linear-gradient(90deg, #484848 0%, #1A1A1A 100%);
}
.intro__statistics__btn {
    text-align: left;

    position: absolute;
    top: 50%;
    
    border-radius: 30px;
    border: none;
    padding: 0 0 0 32px;

    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}
.intro__statistics__btn.left {
    height: 157px;
    width: 199px;
    left: 0;
    transform: translate(0, -50%);
    background: linear-gradient(-90deg, #4b4b4b 0%, #1A1A1A 50%);
    background-size: 1000%;
    background-position: 55%;

    transition: background-position 0.4s linear;
}
.intro__statistics__btn.left:hover {
    background-position: 100%;
}
.intro__statistics__btn.right {
    width: 233px;
    height: 159px;
    right: 0;
    transform: translate(0, -50%);
    /* linear-gradient(90deg, #232323 0%, #1A1A1A 100%) - без grad анимации */
    /* background: linear-gradient(90deg, #232323 0%, #1A1A1A 100%); */
    background: linear-gradient(90deg, #4b4b4b 0%, #1A1A1A 50%);
    background-size: 1000%;
    background-position: 935%;

    transition: background-position 0.4s linear;
}
.intro__statistics__btn.right:hover {
    background-position: 900%;
}

.btn__span {
    color: #fff;
    line-height: 1.2;
    font-size: 40px;
}

.intro__statistics__btn:hover {
    cursor: pointer;
}
.intro__info {
    z-index: 3;
    margin-left: auto;
}

.intro__info__text {
    max-width: 406px;
    font-size: 20px;
    line-height: 2;
    color: #8c8c8c;

    margin-bottom: 56px;

    position: relative;
}
.intro__info__text::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 112px;

    display: block;
    content: "";
    width: 2px;
    height: 316px;

    background-color: #484848;
    /* transform: rotate(90deg); */

    z-index: 555;
}
.info__btn__wrapper {
    width: 200px;
    height: 72px;
    border-radius: 120px;
    padding: 1px;
    margin-bottom: 56px;

    position: relative;
}
.info__btn__wrapper.left {
    margin-right: auto;
    background: linear-gradient(90deg, #4b4b4b 0%, #1A1A1A 100%);
}
.info__btn__wrapper.right {
    margin-left: auto;
    background: linear-gradient(-90deg, #4b4b4b 0%, #1A1A1A 100%);
}
.intro__info__btn {
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;

    width: 199px;
    height: 71px;
    border-radius: 120px;
    border: none;

    background-color: #1A1A1A;
    color: #fff;
    text-transform: uppercase;

    transition: color 0.25s linear;
    transition: background-color 0.25s linear;
}
.intro__info__btn.left {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.intro__info__btn.right {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.intro__info__btn:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
.intro__wrapper__img {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 200px;
}
.intro__img {
    max-width: 1190px;
    max-height: 794px;
}