/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&family=Poppins:wght@500&family=Raleway:wght@700;800&display=swap');
/*
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
 */

/* landing sizes
    width(landing) = 1440 px;
    width(header__inner) = 1312 px;
*/

body {
	margin: 0;

	font-family: 'Plus Jakarta Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;

	box-sizing: border-box;

	/*данное свойство сглаживает шрифты*/
	-webkit-font-smoothing: antialiased;

	background-color: #1A1A1A;

}
h1,h2,h3,h4,h5,h6,p,td,tr {
	margin: 0;
	padding: 0;
}

/* ------------------- Container ------------------- */
.container {
    /* 1328 / 1440 * 100% */
    width: 92%;
    max-width: 1328px;
    margin: 0 auto;
}

/* ------------------- Header ------------------- */
.header {
    width: 100%;
    position: absolute;
    padding: 48px 0;
}

.header__inner { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

.header__inner__logo {
    margin-right: 224px;
}

.header__inner__nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 704px;

    font-weight: 500;
    font-size: 16px;
}
.nav__link {
    text-decoration: none;
    color: #8c8c8c;
    text-transform: uppercase;

    transition: color 0.1s linear;
}

.nav__link:hover {
    color: #fff;
}

.header__inner__register {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 152px;
    color: #8c8c8c;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    margin-right: 12px;
    position: relative;
}

.header__inner__register:hover{
    color: #fff;
}
.header__inner__arrow:hover > svg > path {
    stroke: #fff;
}
.header__inner__arrow.tech {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 92px;
}

/* ------------------- Intro ------------------- */
.intro {
    /* padding-top: 200px; */
    /* width: 100%; */

    /* padding: 200px 75px 0; */
    padding: 200px 0 0;
    height: 869px;
}
.intro__container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 75px;
    box-sizing: border-box;
    position: relative;
}
.intro__wrapper__img {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}
.intro__img {
    z-index: 2;
    max-width: 1190px;
    max-height: 794px;
}
.intro__wrapper_title {
    display: flex;
    z-index: 125;
}
.intro__title {
    z-index: 125;
    font-size: 120px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;

    background: linear-gradient(90deg, #FFFFFF 0.01%, rgba(255, 255, 255, 0.3) 49.48%, #FFFFFF 99.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro__title__span {
    z-index: 125;
    background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.intro__wrapper__buttons {
    display: flex;
    justify-content: space-between;
}

.intro__wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.btn__wrapper {
    width: 458px;
    display: flex;
    justify-content: space-between;
}
.border__wrapper__btn {
    /* height: 158px;
    width: 230px; */
    position: relative;
    padding: 1px;

    border-radius: 32px;
    border: none;
}

.border__wrapper__btn.left {
    height: 158px;
    width: 200px;
    background: linear-gradient(-90deg, #484848 0%, #1A1A1A 100%);
}
.border__wrapper__btn.right {
    width: 233px;
    height: 160px;
    background: linear-gradient(90deg, #484848 0%, #1A1A1A 100%);
}
.intro__statistics__btn {
    text-align: left;

    position: absolute;
    top: 50%;
    
    border-radius: 30px;
    border: none;
    padding: 0 0 0 32px;

    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}
.intro__statistics__btn.left {
    height: 157px;
    width: 199px;
    left: 0;
    transform: translate(0, -50%);
    background: linear-gradient(-90deg, #4b4b4b 0%, #1A1A1A 50%);
    background-size: 1000%;
    background-position: 55%;

    transition: background-position 0.4s linear;
}
.intro__statistics__btn.left:hover {
    background-position: 100%;
}
.intro__statistics__btn.right {
    width: 233px;
    height: 159px;
    right: 0;
    transform: translate(0, -50%);
    /* linear-gradient(90deg, #232323 0%, #1A1A1A 100%) - без grad анимации */
    /* background: linear-gradient(90deg, #232323 0%, #1A1A1A 100%); */
    background: linear-gradient(90deg, #4b4b4b 0%, #1A1A1A 50%);
    background-size: 1000%;
    background-position: 935%;

    transition: background-position 0.4s linear;
}
.intro__statistics__btn.right:hover {
    background-position: 900%;
}

.btn__span {
    color: #fff;
    line-height: 1.2;
    font-size: 40px;
}

.intro__statistics__btn:hover {
    cursor: pointer;
}
.intro__info {
    z-index: 3;
}

.intro__info__text {
    max-width: 406px;
    font-size: 20px;
    line-height: 2;
    color: #8c8c8c;

    margin-bottom: 56px;

    position: relative;
}
.intro__info__text::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 112px;

    display: block;
    content: "";
    width: 2px;
    height: 316px;

    background-color: #484848;

    z-index: 555;
}
.info__btn__wrapper {
    width: 200px;
    height: 72px;
    border-radius: 120px;
    padding: 1px;
    margin-bottom: 56px;

    position: relative;
}
.info__btn__wrapper.left {
    margin-right: auto;
    background: linear-gradient(90deg, #4b4b4b 0%, #1A1A1A 100%);
}
.info__btn__wrapper.right {
    margin-left: auto;
    background: linear-gradient(-90deg, #4b4b4b 0%, #1A1A1A 100%);
}
.intro__info__btn {
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;

    width: 199px;
    height: 71px;
    border-radius: 120px;
    border: none;

    background-color: #1A1A1A;
    color: #fff;
    text-transform: uppercase;

    transition: color 0.25s linear;
    transition: background-color 0.25s linear;
}
.intro__info__btn.left {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.intro__info__btn.right {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.intro__info__btn:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

/* ------------------- Discount ------------------- */
.discount {
    /* width: 300%; */

    display: flex;  
    align-items: center;

    margin-bottom: 192px;
    overflow: hidden;

    height: 120px;
    background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);
}
.discount__line__text {
    /* width: 100%; */

    text-transform: uppercase;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 2;

    margin: 0 64px;
    display: flex;
    align-items: center;
    white-space: nowrap;

    transform: translateX(-90%);
}
.discount__line__text::before {
    content: "";
    display: inline-block;
    margin-right: 25px;

    width: 61px;
    height: 61px;

    background: center no-repeat url("../img/discount/logo.png");
}

/* ------------------- Tech ------------------- */
.tech {
    margin-bottom: 160px;
}
.tech__header {
    display: flex;
    justify-content: space-between;
}
.tech__title {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;

    margin-bottom: 92px;
}
.tech__logo {
    width: 125px;
    height: 125px;
}
.tech__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 72px;
}
.tech__menu__title {
    color: #8c8c8c;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 2;

    width: 20%;
    transition: color 0.1s linear;
}
.tech__menu__title::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;

    background-color: #404040;
}
.tech__menu__title.active {
    color: #fff;
    cursor: pointer;
}
.tech__menu__title.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;

    background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);
}
.tech__menu__title.hovered {
    cursor: pointer;
    transform: translate(0, -10px);
}

/* --------------------- Tech Item --------------------- */
.tech__item {
    display: flex;
    justify-content: space-between;
}
.tech__item__title {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;

    margin: 64px 0 54px;
}
.intro__title__span {
    width: 720px;
    height: 720px;
}
.tech__item__text {
    max-width: 586px;
    color: #8c8c8c;
    font-size: 20px;
    line-height: 2;

    margin-bottom: 40px;
}

.check__list {
    padding: 0;
    list-style: none;
}
.check__list__item {
    color: #fff;
    font-size: 20px;
    line-height: 2;

    height: 48px;
    display: flex;
    align-items: center;
}
.check__list__item::before {
    content: "";
    display: inline-block;

    width: 40px;
    height: 40px;
    margin-right: 16px;
    background: center no-repeat url("../img/tech/list_icon.png");
}

/* --------------------- Development --------------------- */
.dev {
    margin-bottom: 200px;
}
.dev__title {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;

    margin-bottom: 96px;
}
.dev__items {
    display: flex;
    justify-content: space-between;
}

.dev__items__column {
    /* width(container) = 1328px, width(arrowColumn) = 144px
    => width(column) = {(1328 - 144) / (2 * 1328) * 100%} */
    width: 44%;
}
.column {
    list-style: none;
}
.column__item {
    display: flex;
    margin-bottom: 104px;
}
.column__item::before {
    content: "";
    display: inline-block;
    width: 160px;
    height: 180px;
    margin-right: 40px;
}
.column__item.left:nth-child(1)::before {
    background: no-repeat center url("../img/development/item_1.png");
}
.column__item.left:nth-child(2)::before {
    background: no-repeat center url("../img/development/item_2.png");
}
.column__item.left:nth-child(3)::before {
    background: no-repeat center url("../img/development/item_3.png");
}
.column__item.right:nth-child(1)::before {
    background: no-repeat center url("../img/development/item_4.png");
}
.column__item.right:nth-child(2)::before {
    background: no-repeat center url("../img/development/item_5.png");
}
.column__item.right:nth-child(3)::before {
    background: no-repeat center url("../img/development/item_6.png");
}
.column__item__title {
    margin: 30px 0 8px;
    font-size: 24px;
    line-height: 2;
}
.column__item__text {
    font-size: 20px;
    line-height: 2;
    color: #8c8c8c;
    max-width: 316px;
}

.dev__arrow__column {
    /* width(container) = 1328px, width(arrowColumn) = 144px
    => width(arrowColumn) = 144 / 1328 * 100% */
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dev__arrow__column::before {
    content: "";
    width: 1px;
    height: 570px;
    background-color: #313131;
}
.dev__arrow__column::after {
    content: "";
    width: 1px;
    height: 570px;
    background-color: #313131;
}
.arrow__wrapper {
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.svg__rotated {
    transform: rotate(180deg);
}